---
import { useSanityClient } from "astro-sanity";
import { urlForImage } from "../utilities/sanityImage.js";

import Layout from "../layouts/Layout.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro"

export const prerender = true;

let previewResponse;
let responseJSON;

if(Astro.url.search.includes("preview=true")){
    previewResponse = await fetch(
        `https://kingwood-builders.netlify.app/.netlify/functions/preview?type=page&slug=${Astro.url.pathname.split("/")[1]}`
    );
    responseJSON = await previewResponse.json();
}


export async function getStaticPaths() {
	const data = await useSanityClient().fetch(`
    *[_type=='page'] {
      ...
    }
  `);
	let paths = [];
	data.map(({ slug }) => paths.push({ params: { slug: slug.current } }));

	return paths;
}

const { slug } = Astro.params;

const data = responseJSON === undefined ? await useSanityClient().fetch(`
*[_type=='page' && slug.current == '${slug}'][0] {
	...,
	content[] {
		...,
        projects[]->
	}	
}
`) : responseJSON.data;

// console.log(data)

if (!data) return Astro.redirect("/404");

---

<Layout
	noindex={data.settings?.noindex ? data.settings.noindex : false}
	title={data.title}
>
	{
		data.content?.map((section) => {
			switch (section._type) {
				case "projectCarousel":
                    return (
                        <FeaturedProjects projects={section.projects} /> 
                    )
				case "textHeadline":
                    return (
                        <section class="py-40">
                            <div class="grid-layout text-center">
                                <div class="grid-span-xl">
                                    <h1
                                        class="justify-center"
                                        data-viewport="typography-shift">
                                        <span>{section.title}</span>
                                    </h1>
                                </div>
                            </div>
                        </section>
                    )
				default:
                    return (
                        <section class="py-40">
                            <div class="grid-layout text-center">
                                <div class="grid-span-xl">
                                    <h1
                                        class="justify-center"
                                        data-viewport="typography-shift">
                                        <span>{data.title}</span>
                                    </h1>
                                </div>
                            </div>
                        </section>
                    )
			}
		})
	}
</Layout>
