---
import { useSanityClient } from "astro-sanity";

import { urlForImage } from "../utilities/sanityImage.js";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

export const prerender = true;

// Astro.url.search.includes("preview=true")

// const previewResponse = await fetch(
// 	`https://kingwood-builders.netlify.app/.netlify/functions/preview?type=page&slug=landing`
// );
// const responseJSON = await previewResponse.json();
// console.log(responseJSON)
// data = responseJSON.data;
const data = await useSanityClient().fetch(`
	*[_type=='page' && slug.current == "landing"][0] {
	..., 
	content[] {
		...
	}	
	}
`);

const { content } = data;

const featuredImage = content[0].images[0];

---

<style>
	@media (max-width: 479px) and (orientation: portrait) {
		section {
			min-height: auto;
		}
	}
	@media (orientation: landscape) {
		section {
			min-height: 600px;
		}
	}
	picture:before {
		content: "";
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(235, 234, 223, 0.4);
		z-index: 11;
	}
</style>

<Layout title={data.settings.ogTitle} description={data.settings.ogDescription}>
	<section class="flex flex-col flex-grow">
		<div class="grid-layout flex-grow grid-rows-[auto_1fr]">
			<div
				class="pt-32 col-start-2 col-span-10 md:order-2 md:pt-0 md:-mt-12"
			>
				<h1
					class="text-[clamp(40px,6.5vw,120px)] leading-[.9] relative z-20 md:pr-12 xs:pr-0"
				>
					<span
						class="typography-shift block pt-16 -mt-16"
						data-delay=".15"
					>
						<span
							>Developing <span id="dreams">dreams</span>
							<span class="font-medium">together.</span></span
						>
					</span>
				</h1>
				<p
					class="relative z-20 max-w-md mt-2 pr-12 shift-up sm:text-14 xs:text-[13px] sm:pr-8"
					data-delay=".25"
				>
					A longstanding ambition to be the best Property Development
					Company in the industry has been our main inspiration since
					opening our business in 2000. With extensive experience in
					cost and time management, our team is able to come up with
					exceptional developments of superior value while adhering to
					each project’s budget. At KingWood Builders, we’re not just
					building properties—we’re elevating industry standards.
				</p>
				<div class="shift-up relative z-20" data-delay=".3">
					<a href="#" class="contact-trigger button mt-4"
						>Contact Us</a
					>
				</div>
			</div>
			<div
				class="absolute top-[180px] left-[7vw] w-[clamp(200px,30vw,30vw)] h-[clamp(200px,30vw,30vw)] rounded-full bg-[rgba(220,226,87,0.65)] blur-[60px] md:top-[120px] md:left-[5vw] fade-in"
			>
			</div>
			<div
				class="relative overflow-hidden col-start-3 col-span-10 -mt-[340px] md:mt-0 md:order-1 md:min-h-[66vw] sm:min-h-[90vw] xs:min-h-[70vw]"
			>
				<div
					class="grid grid-cols-10 w-full absolute z-20 bottom-20 right-6 sm:bottom-6"
				>
					<div class="col-start-10">
						<div class="-rotate-90 origin-left relative">
							<div
								class="absolute top-full right-0 w-full font-medium text-20 whitespace-nowrap sm:text-14 fade-in"
								data-delay=".25"
							>
								Charleston, SC
							</div>
						</div>
					</div>
				</div>
				<picture class="fade-in">
					<source
						srcset={urlForImage(featuredImage.asset)
							.width(1800)
							.format("webp")
							.quality(80)
							.url()}
						type="image/webp"
						media="(min-width: 1200px)"
					/>
					<source
						srcset={urlForImage(featuredImage.asset)
							.width(1200)
							.format("webp")
							.quality(80)
							.url()}
						type="image/webp"
						media="(min-width: 768px)"
					/>
					<source
						srcset={urlForImage(featuredImage.asset)
							.width(850)
							.format("webp")
							.quality(80)
							.url()}
						type="image/webp"
						media="(min-width: 479px)"
					/>
					<source
						srcset={urlForImage(featuredImage.asset)
							.width(600)
							.format("webp")
							.quality(60)
							.url()}
						type="image/webp"
						media="(max-width: 478px)"
					/>
					<img
						class={`w-full h-full object-cover absolute z-10 scale-in`}
						data-delay=".25"
						src={urlForImage(featuredImage.asset)
							.width(800)
							.quality(80)
							.url()}
						width="1920"
						height="1080"
						alt={featuredImage.alt}
						srcset={`${urlForImage(featuredImage.asset)
							.width(800)
							.quality(80)
							.url()} 479w,
						${urlForImage(featuredImage.asset).width(1200).quality(80).url()} 768w,
						${urlForImage(featuredImage.asset).width(1800).quality(80).url()} 1200w`}
						sizes="(max-width: 768px) 100vw, (max-width: 1200px) 1400px, 1920px"
					/>
				</picture>
			</div>
		</div>
	</section>
</Layout>

<script>
	import { annotate } from "rough-notation";
	const el = document.getElementById("dreams");
	let strokeWidth = 6;
	if (window.innerWidth < 767) {
		strokeWidth = 3;
	}
	const annotation = annotate(el, {
		type: "underline",
		color: "#2c2c2c",
		padding: 0,
		iterations: 4,
		strokeWidth,
	});
	setTimeout(() => {
		annotation.show();
	}, 650);
</script>
